@charset "utf-8";
/* CSS Document */

*{font-size:14px;border:0;margin:0;padding:0;}
body{font-family:'微软雅黑'; }
ul{list-style:none;}
li{list-style: none;}
img{border:0;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#ff0000;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
.clearfix{ clear: both; font-size: 1px; }
.left{ float: left; }
.right{ float: right; }

.data-table{width: 100%; border-collapse: collapse;border-spacing:0; color: #76838f; }
.data-table th{ border:1px solid #e4eaec; background-color: #f9fbfc; font-size: 14px; font-weight: 500; color: #526069; vertical-align: middle; height: 36px; text-align: left; }
.data-table th.sortable{cursor: pointer}
.data-table th.sortable .kyDatagrid-sort-icon{ background: url("img/arrow.png") no-repeat left center; padding-right: 12px;}
.data-table th.up .kyDatagrid-sort-icon{ background: url("img/arrow-up.png") no-repeat left center; }
.data-table th.down .kyDatagrid-sort-icon{ background: url("img/arrow-down.png") no-repeat left center;}
.data-table td{ border:1px solid #e4eaec; height: 36px; font-size: 14px; vertical-align: middle;}
.data-table tr.selected,.data-table tr.selected:hover{background: #ffe48d;}
.data-table tr:nth-child(odd){background:#fbfdfd;}
.data-table tr:nth-child(odd).selected,.data-table tr:nth-child(odd).selected:hover{background: #ffe48d;}
.data-table tr:hover{background:#f3f7f9;}
.data-table td.center{text-align: center}
.data-table .kyDatagrid-cell{padding:0 6px;}

.state-one{ height: 20px; display: inline-block; padding: 0 8px; border-radius: 2px; background-color: #f96868; color: #fff; }
.state-two{ height: 20px; display: inline-block; padding: 0 8px; border-radius: 2px; background-color: #46be8a; color: #fff; }
.btn-op{ color: #3e98da; text-decoration: underline; font-size: 14px; padding: 10px;  }

.list-show{ font-size: 14px; color: #666; }
.page-box{}
.page-box li{ float: left; cursor: pointer; background-color: #f9f9f9; text-align: center;}
.page-box li.pre a{ display: block; border:1px solid #ddd; border-right: none; height: 30px; line-height: 30px; width: 60px; font-size: 14px; color: #348cc7;}
.page-box li.pre a.hui{ color: #ddd }
.page-box li.next a{display: block; border:1px solid #ddd;  height: 30px; line-height: 30px; width: 60px; font-size: 14px; color: #348cc7;}
.page-box li.next a.hui{ color: #ddd }
.page-box li.num a{display: block;border:1px solid #ddd; border-right: none;height: 30px; line-height: 30px; width:28px;font-size: 14px; color: #666;}
.page-box li.num.active a{ background-color: #6eaed9; color: #fff; }

/* kyDatagrid css */
.kyDatagrid-wrap{ }

.pagination { line-height: 32px; margin: 10px 0; }