@charset "utf-8";
/* CSS Document */

* { font-size: 14px; border: 0; margin: 0; padding: 0; }
body { font-family: '微软雅黑'; }
ul { list-style: none; }
li { list-style: none; }
img { border: 0; }
a, a:focus { text-decoration: none; color: #000; outline: none; blr: expression(this.onFocus=this.blur()); }
a:hover { color: #ff0000; text-decoration: none; }
table { border-collapse: collapse; border-spacing: 0; }
.clearfix { clear: both; font-size: 1px; }
.left { float: left; }
.right { float: right; }
/**************************************/
/* 表格样式,所有表格都是data-table的样式 */
/**************************************/
.data-table { width: 100%; border-collapse: collapse; border-spacing: 0; color: #76838f; }
.data-table th { border-width: 0 1px 1px 0; border-style: solid; border-color: #e4eaec; background-color: #f9fbfc; font-size: 14px; font-weight: 500; color: #526069; vertical-align: middle; text-align: left; height: 35px; }
.data-table th.sortable { cursor: pointer }
.data-table th.sortable .kyDatagrid-sort-icon { background: url("img/arrow.png") no-repeat left center; padding-right: 12px; }
.data-table th.up .kyDatagrid-sort-icon { background: url("img/arrow-up.png") no-repeat left center; }
.data-table th.down .kyDatagrid-sort-icon { background: url("img/arrow-down.png") no-repeat left center; }
.data-table td { border-width: 0 1px 1px 0; border-style: solid; border-color: #e4eaec; height: 35px; font-size: 14px; vertical-align: middle; }
.data-table td.rownumber { background-color: #f9fbfc; }
.data-table tr { height: 35px; }
.data-table tr:nth-child(even) {background: #fbfdfd}
.data-table tr:nth-child(odd) {background: #ffffff}
.data-table tr.selected { background-color: #ffe48d; }
.data-table td.center { text-align: center }
.data-table .frozenCol { width: 35px; text-align: center; }
.data-table .kyDatagrid-cell { padding: 0 6px; }
/***********/
/* 分页样式 */
/***********/
.pagination { line-height: 30px; border-width: 1px 0 0 0; border-style: solid; border-color: #e4eaec; background: #f9fbfc; }
.pagination .list-show { font-size: 14px; color: #666; padding-left: 6px; }
.pagination .page-box { height: 30px; padding: 0 5px; }
.pagination .page-box li { float: left; cursor: pointer; background-color: #f9f9f9; text-align: center; height: 30px; margin-right: 10px; }
.pagination .pagination-page-list { border: 1px solid #6eaed9; height: 20px; }
.pagination .pagination-num { border: 1px solid #6eaed9; height: 18px; width: 30px; }
.pagination .pagination-first { display: inline-block; background: url(img/leftt.png) no-repeat center; width: 20px; height: 20px; cursor: pointer; margin-top: 5px; }
.pagination .pagination-first:hover { display: inline-block; background: url(img/leftto.png) no-repeat center; width: 20px; height: 20px; cursor: pointer; margin-top: 5px; }
.pagination .pagination-prev { display: inline-block; background: url(img/left.png) no-repeat center; width: 20px; height: 20px; cursor: pointer; margin-top: 5px; }
.pagination .pagination-prev:hover { display: inline-block; background: url(img/lefto.png) no-repeat center; width: 20px; height: 20px; cursor: pointer; margin-top: 5px; }
.pagination .pagination-next { display: inline-block; background: url(img/right.png) no-repeat center; width: 20px; height: 20px; cursor: pointer; margin-top: 5px; }
.pagination .pagination-next:hover { display: inline-block; background: url(img/righto.png) no-repeat center; width: 20px; height: 20px; cursor: pointer; margin-top: 5px; }
.pagination .pagination-last { display: inline-block; background: url(img/rightt.png) no-repeat center; width: 20px; height: 20px; cursor: pointer; margin-top: 5px; }
.pagination .pagination-last:hover { display: inline-block; background: url(img/rightto.png) no-repeat center; width: 20px; height: 20px; cursor: pointer; margin-top: 5px; }
.pagination .pagination-load { display: inline-block; background: url(img/reflash.png) no-repeat center; width: 16px; height: 16px; cursor: pointer; margin-top: 7px; }
.pagination .pagination-load:hover { display: inline-block; background: url(img/reflasho.png) no-repeat center; width: 16px; height: 16px; cursor: pointer; margin-top: 7px; }
.pagination .pagination-info { font-size: 14px; color: #666; line-height: 30px; float: right; }
/******************/
/* kyDatagrid css */
/******************/
.kyDatagrid-wrap { border: 1px solid #e4eaec; }
.kyDatagrid-view1 { float: left; overflow: hidden }
.kyDatagrid-view2 { float: right; overflow-x: auto; overflow-y: hidden; }
.kyDatagrid-view1 .kyDatagrid-head { background: #f9fbfc; }
.kyDatagrid-view1 .kyDatagrid-body { overflow: hidden; border-top: 1px solid #e4eaec; }
.kyDatagrid-view2 .kyDatagrid-head { background: #f9fbfc; }
.kyDatagrid-view2 .kyDatagrid-body { overflow-y: auto; overflow-x: hidden; border-top: 1px solid #e4eaec; }
.kyDatagrid-cell { white-space: nowrap; word-wrap: normal; overflow: hidden; }
/***************************/
/* webkit 浏览器的滚动条美化 */
/***************************/
::-webkit-scrollbar { width: 8px; height: 8px; background-color: #e4eaec; }
::-webkit-scrollbar-thumb { background-color: #a4a4a4; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background-color: #777; }
::-webkit-scrollbar-track { box-shadow: inset 0 0 6px #e4eaec; border-radius: 8px; }
