<!--
Created by IntelliJ IDEA.
User: Mushi
Date: 2017/5/15
Time: 16:49
To change this template use File | Settings | File Templates.
-->

<!-- kyDatagrid 表格模板 -->
<script id="kyDatagrid" type="text/html">
    <!-- 表头 -->
    <tr id="kyDatagrid-header">
        <!-- 是否显示行号 -->
        {{if options.rownumbers}}
        <th style="min-width:36px;max-width:36px;"></th>
        {{/if}}
        <!-- 是否可以复选 -->
        {{if options.enableChecked}}
        <th style="min-width:36px;max-width:36px;text-align: center;">
            <input type="checkbox" id="kyDatagridAllCheckbox"/>
        </th>
        {{/if}}
        {{each options.columns as col index}}
        {{col.title | outputTitle:col,totalWidth,options.queryParams}}
        {{/each}}
    </tr>
    <!-- 表格主体 -->
    {{each rows as row index}}
    <tr id="kyDatagrid-row-{{index}}" class="kyDatagrid-row" index="{{index}}">
        <!-- 是否显示行号 -->
        {{if options.rownumbers}}
        <td class="center">{{(options.pageNumber - 1 ) * options.pageSize + index + 1}}</td>
        {{/if}}
        <!-- 是否可以复选 -->
        {{if options.enableChecked}}
        <td class="center">
            <input type="checkbox" class="kyDatagridCheckbox"/>
        </td>
        {{/if}}
        <!-- 遍历每列数据 -->
        {{each options.columns as col j}}
        {{if row[col.field] != undefined}}
        {{row[col.field] | outputContent:row,index,col}}
        {{else}}
        {{"" | outputContent:row,index,col}}
        {{/if}}
        {{/each}}
    </tr>
    {{/each}}
    <!-- 空行遍历 -->
    {{each emptyRows as emptyRow index}}
    <tr class="kyDatagrid-row empty-row">
        {{if options.rownumbers}}
        <!--
        <td class="center">{{(options.pageNumber - 1 ) * options.pageSize + rows.length + index + 1}}</td>
        -->
        <td></td>
        {{/if}}
        <!-- 是否可以复选 -->
        {{if options.enableChecked}}
        <td></td>
        {{/if}}
        {{options.pageSize | outputEmptyRow:options}}
    </tr>
    {{/each}}
</script>

<!-- kyDatagrid 表格分页模板 -->
<script id="kyDatagridPage" type="text/html">
    <div class="fenye">
        <div class="left list-show">第{{rowBegin}}到{{rowEnd}}条记录，共{{totalCount}}条</div>
        <ul class="right page-box">
            <li class="pre" pageno="{{pageNo-1}}"><a class="{{if pageNo <= 1}}hui{{/if}}" href="javascript:void(0)">上一页</a></li>
            {{each pageScope as page}}
            {{if page==pageNo}}
            <li class="num active" pageno="{{page}}"><a href="javascript:void(0)" class="">{{page}}</a></li>
            {{else}}
            <li class="num" pageno="{{page}}"><a href="javascript:void(0)" class="">{{page}}</a></li>
            {{/if}}
            {{/each}}
            <li class="next" pageno={{pageNo+1}}><a class="{{if pageNo >= totalPage}}hui{{/if}}" href="javascript:void(0)">下一页</a></li>
        </ul>
        <div class=" clearfix"></div>
    </div>
</script>

<script type="text/javascript">
    // 格式化输出表格标题
    template.helper('outputTitle', function (title, column, totalWidth, queryParams) {
        var th = $("<th>");
        th.attr("field", column.field);
        th.html(column.title);
        // 列是否可排序
        if (column.sortable == true) {
            th.addClass("sortable");
            if (column.field == queryParams.sort && queryParams.order == "desc") {
                th.addClass("down");
            }
            else if (column.field == queryParams.sort && queryParams.order == "asc") {
                th.addClass("up");
            }
        }
        // 列是否隐藏
        if (column.hidden == true) {
            th.css("display", "none");
        }

        switch (column.align) {
            case 'left':
                th.css("text-align", "left");
                break;
            case 'center':
                console.log(th);
                th.css("text-align", "center");
                break;
            case 'right':
                th.css("text-align", "right");
                break;
            default:
                th.css("text-align", "left");
                break;
        }
        // 宽度自适应
        var columnWidth = column.width == undefined ? 100 : column.width;
        th.css("width", columnWidth / totalWidth * 100 + "%");

        return th[0].outerHTML;
    });

    // 格式化输出单元格内容
    template.helper('outputContent', function (value, row, index, column) {
        if (column.hidden == true) {
            return "";
        }
        var td = $("td");
        // 是否需要格式化输出
        if (column.formatter != undefined && column.formatter != null) {
            td.html(column.formatter(value, row, index))
            return td[0].outerHTML;
        }
        else {
            td.html(value);
        }

        var titleAlign = column.titleAlign || column.align;

        switch (titleAlign) {
            case 'left':
                td.css("text-align", "left");
                break;
            case 'center':
                td.css("text-align", "center");
                break;
            case 'right':
                td.css("text-align", "right");
                break;
            default:
                td.css("text-align", "left");
                break;
        }
        return td[0].outerHTML;
    });

    // 格式化输出空行
    template.helper('outputEmptyRow', function (pageSize, options) {
        var tr = "";
        var columns = options.columns;
        for (var i = 0;
             i < columns.length;
             i++) {
            var col = columns[i];
            if (!col.hidden) {
                tr += "<td></td>";
            }
        }
        return tr;
    });
</script>